<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>
    <h1>{{ page_title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Position</th>
                <th>Wage</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.company }}</td>
                    <td>{{ application.position }}</td>
                    <td>{{ application.wage }}</td>
                    <td>{{ application.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>